doctype html
html(ng-app='cacahuetasApp')
  head
    title= title
    link(rel='stylesheet', href='https://bootswatch.com/paper/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet' type="text/css" href='http://fonts.googleapis.com/css?family=Stalemate')
  body
    block content
